@font-face {
  font-family: "ubuntu-regular";
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/Ubuntu-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "ubuntu-bold";
  font-style: normal;
  font-weight: 700;
  src: url(../../fonts/Ubuntu-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "ubuntu-Italic";
  font-style: normal;
  font-weight: 700;
  src: url(../../fonts/Ubuntu-Italic.ttf) format("truetype");
}

body {
  background-color: salmon;
  font-family: "ubuntu-regular";
  font-size: 16px;
}
